

<a href="{{ path('accueil') }}">
    <img class="logo" src="/asset/img/logo/Logo-BM.png">
</a>

<div class="menu">
    <a href="{{ path('accueil') }}">
        <img class="signature" src="/asset/img/logo/signature.png">
    </a>

    <div class="aa">
        <div class="titres">
            <p class="submenu">{{ 'menu.home.particulier' | trans }}</p>
            <p class="submenu" >{{ 'menu.home.professionnel' | trans }}</p>
            <p class="submenu" >{{ 'menu.home.galery' | trans }}</p>
            <p class="submenu" >{{ 'menu.home.contact' | trans }}</p>
        </div>

        <div class="titres">
            <div class="submenu">
                <a href="{{ path('particuliers') }}"> {{ 'menu.particulier.event' | trans }}</a>
                <a href="{{ path('particuliers') }}">{{ 'menu.particulier.workshop' | trans }}</a>
                <a href="{{ path('particuliers') }}">{{ 'menu.particulier.studio' | trans }}</a>
                <a href="{{ path('particuliers') }}">{{ 'menu.particulier.animal' | trans }}</a>
                <a href="{{ path('particuliers') }}">{{ 'menu.particulier.playmate' | trans }}</a>
                <a href="{{ path('particuliers') }}">{{ 'menu.particulier.lifestyle' | trans }}</a>
            </div>

            <div class="submenu">
                <a href="{{ path('professionels') }}">{{ 'menu.professionnal.entreprise' | trans }}</a>
                <a href="{{ path('professionels') }}">{{ 'menu.professionnal.product' | trans }}</a>
                <a href="{{ path('professionels') }}">{{ 'menu.professionnal.immobilier' | trans }}</a>
                <a href="{{ path('professionels') }}">{{ 'menu.professionnal.event' | trans }}</a>
            </div>
            <div class="submenu">
                <a href="{{ path('galerie_image',{'id': '1'}) }}">{{ 'menu.galery.name1' | trans }}</a>
                <a href="{{ path('galerie_image',{'id': '2'}) }}">{{ 'menu.galery.name2' | trans }}</a>
                <a href="{{ path('galerie_image',{'id': '3'}) }}">{{ 'menu.galery.name3' | trans }}</a>
                <a href="{{ path('galerie_image',{'id': '4'}) }}">{{ 'menu.galery.name4' | trans }}</a>
            </div>
            <div class="submenu">
                <a href="{{ path('contact') }}">Contact</a>
                <a href="{{ path('contact') }}">Livre d'Or</a>
            </div>
        </div>
    </div>

</div>
