{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    {% dump %}
<h2>Bonjour {{ user.username }} </h2>
    <p>Cliquez sur une commande pour voir les détail</p>
    <ul>

        {% for elem in commande %}
            {% if elem.statut == 0 %}
        <li><a href="{{ path('gestion_commande', {'id' : elem.id }) }}">Mon Panier</a></li>
            {% endif %}
        {% endfor %}

        <p>Commandes en cours</p>
        {% for elem in commande %}
            {% if elem.statut == 1 %}
            <li><a href="{{ path('gestion_commande', {'id' : elem.id }) }}">Commande n°{{ elem.id }}</a></li>
            {% endif %}
        {% endfor %}

        <p>Commandes terminées </p>
        {% for elem in commande %}
            {% if elem.statut == 2 %}
                <li><a href="{{ path('gestion_commande', {'id' : elem.id }) }}">Commande n°{{ elem.id }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
