<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#<title>{% block title %}Welcome!{% endblock %}</title>#}
    <link href="/asset/style.css" rel="stylesheet">
    <link href="/build/app.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ '/asset/favicon.ico' }}" />
</head>
<body>
<header>
    <div class="bandeau">
        {% include 'header/index.html.twig' %}
        <div class="connexion">
            {% if is_granted('ROLE_USER') %}
                {{ render(controller('App\\Controller\\LoggedInController::index')) }}
            {% else %}



                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />


                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label><br>
                    <input type="text" id="username" name="_username" required="required" autocomplete="username" /><br>

                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label><br>
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" /><br>

                    <div>
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                        <a href="register" style="text-decoration: none; color: white">{{ 'base.header.lien.signIn' | trans }}</a>
                    </div>

                   <div>
                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                       <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>


                   </div>
                </form>



            {% endif %}
        </div>
    </div>
</header>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="/asset/script.js"></script>
<script src="/build/app.js"></script>
</body>
</html>
