<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#<title>{% block title %}Welcome!{% endblock %}</title>#}
    {#<link href="/asset/style.css" rel="stylesheet">#}
    {#<link href="/build/app.css" rel="stylesheet">#}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css.css') }}">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ '/asset/favicon.ico' }}" />
</head>
<body>
        {% if app.request.hasPreviousSession  %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans  }}
                    </div>

                {% endfor %}
            {% endfor %}
        {% endif %}

    <header id="header">
            {% include 'header/index.html.twig' %}
    </header>


<div class="body-position">
    {% block body %}


    {% endblock %}
</div>




    <footer>
        {% include 'footer/index.html.twig' %}
    </footer>


{% block javascripts %}{% endblock %}
    <script src="/asset/script.js"></script>
    <script src="/build/app.js"></script>
    <script src="/build/header.js"></script>




</body>
</html>
