<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#<title>{% block title %}Welcome!{% endblock %}</title>#}
    {#<link href="/asset/style.css" rel="stylesheet">#}
    {#<link href="/build/app.css" rel="stylesheet">#}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css.css') }}">

    {% endblock %}
    {% block head_stylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ '/asset/favicon.ico' }}" />
</head>
<body>
        {% if app.request.hasPreviousSession  %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans  }}
                    </div>

                {% endfor %}
            {% endfor %}
        {% endif %}

    <header id="header">
            {{ render(controller('App\\Controller\\HeaderController::index')) }}
    </header>


<div class="body-position">
    {% block body %}


    {% endblock %}
</div>



{%  block footer %}
    <footer id="footer">
        {% include 'footer/index.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/header.js') }}"></script>
    <script src="{{ asset('build/dropZone.js') }}"></script>
    <script src="{{ asset('build/galeries.js') }}"></script>
{% endblock %}


</body>
</html>
