{% extends 'base.html.twig' %}
{% dump %}
{% block title %}Bonjour {{ user | capitalize }} !{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <title>Mon joli menu en HTML/CSS !</title>
    <link rel="stylesheet" href="style.css" />  <!-- Fichier CSS -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}

<div id="galerie-menu">
    <nav>
        {% for item in galeries %}
            {% if item.Statut == 0 %}
        <a href="{{ path('galerie_image',{'id': item.id}) }}" tabindex="0" title="{{ item.name }}"    ><img class="galImg" src="{{ item.photos.0.path | imagine_filter('my_watermark_filter') }}"  />
        </a>
            {% endif %}
        {% endfor %}
    </nav>
</div>

    <div id="fullSize" class ="hide"  onclick="hide()"> </div>


    <div class="thumbnail">
    {% for item in galerie %}
        {% if item.Statut == 0 %}
             <div>
                <a id="{{ item.id }}" href="galerie/">{{ item.name }}</a>
            </div>
            {% for elem in photos %}
                {% if item.name == elem.galery.name %}
                    <a class="zoom"  onclick="show(this.name)" name="{{ elem.Path }}">
                    <img class="thumb" src="{{ elem.Path  | imagine_filter('galery_thumbnail') }}"/>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>


{% endblock %}
