{% extends 'base.html.twig' %}

{% block title %}Benoit Mansanarez Photographie{% endblock %}

{% block body %}
    <div class="presentation-photographe">
        <img id="BO-photo-presentation-accueil" src="/asset/img/Fond-de-presentation.jpg" alt = "Photo du photographe">
        <p class="text-presentation-photographe"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="container">
        <section class="section-presentation pro">
            <div>
                <h1> ESPACE PROFESSIONNEL</h1>
                <h2 id="BO-text-presentation-pro"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
            </div>
            <div class="presentation-global">
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-1-presentation-pro" src="{{ 'asset/img/Presentation.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-1-pro">Présentation d'entreprise</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-2-presentation-pro" src="{{ 'asset/img/Produit.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-2-pro">Présentation de produit</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-3-presentation-pro" src="{{ 'asset/img/Immobilier.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-3-pro">Photo d'immobilier</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-4-presentation-pro" src="{{ 'asset/img/Evenement.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-4-pro">Couverture d'évenement</P> </a>
                </div>
            </div>
            <div class="presentation-global">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">
            </div>
        </section>
        <section class="section-presentation particulier">
            <div>
                <h1> ESPACE  PARTICULIER</h1>
                <h2 id="BO-text-presentation-particulier"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
            </div>
            <div class="presentation-global">
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-1-presentation-particulier" src="{{ 'asset/img/Evenement.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-1-particulier">Evenement</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-2-presentation-particulier" src="{{ 'asset/img/Workshop.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-2-particulier">Workshop</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-3-presentation-particulier" src="{{ 'asset/img/Studio.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-3-particulier">Studio</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-4-presentation-particulier" src="{{ 'asset/img/Animaux.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-4-particulier">Animaux</P> </a>
                </div>

                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-5-presentation-particulier" src="{{ 'asset/img/Presentation.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-5-particulier">Charme</P> </a>
                </div>
                <div class="presentation">
                    <a src="#"><img class="photo-presentation" id="BO-photo-6-presentation-particulier" src="{{ 'asset/img/Lifestyle.jpg' | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-6-particulier">Lifestyle</P> </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
