{% extends 'base.html.twig' %}

{% block title %}Benoit Mansanarez Photographie{% endblock %}

{% block body %}
    <div class="presentation-photographe">
        <img id="BO-photo-presentation-accueil" src="/asset/img/Fond-de-presentation.jpg" alt = "Photo du photographe">
        <p class="text-presentation-photographe">{{ presentation.text }}</p>
    </div>

    <div class="container">
        <section class="section-presentation pro">
            <div>
                <h1> {{ pro.titre | upper }}</h1>
                <h2 id="BO-text-presentation-pro"> {{ pro.text }}</div>
            <div class="presentation-global">
                <div class="presentation">
                    <a href="professionnel"><img class="photo-presentation" id="BO-photo-1-presentation-pro" src="{{ entreprise.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-1-pro"> {{ entreprise.titre }} </P> </a>
                </div>
                <div class="presentation">
                    <a href="professionnel"><img class="photo-presentation" id="BO-photo-2-presentation-pro" src="{{ produit.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-2-pro"> {{ produit.titre }} </P> </a>
                </div>
                <div class="presentation">
                    <a href="professionnel"><img class="photo-presentation" id="BO-photo-3-presentation-pro" src="{{ immobilier.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-3-pro"> {{ immobilier.titre }} </P> </a>
                </div>
                <div class="presentation">
                    <a href="professionnel"><img class="photo-presentation" id="BO-photo-4-presentation-pro" src="{{ evenementpro.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-4-pro"> {{ evenementpro.titre }} </P> </a>
                </div>
            </div>
            <div class="presentation-global">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">

                <img class="logo-client" src="asset/img/Presentation.jpg">
            </div>
        </section>
        <section class="section-presentation particulier">
            <div>
                <h1> {{ part.titre | upper }} </h1>
                <h2 id="BO-text-presentation-particulier"> {{ part.text }} </div>
            <div class="presentation-global">
                <div class="presentation">
                    <a href="particuliers"><img class="photo-presentation" id="BO-photo-1-presentation-particulier" src="{{ evenement.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-1-particulier"> {{ evenement.titre }} </P> </a>
                </div>
                <div class="presentation">
                    <a href="particuliers"><img class="photo-presentation" id="BO-photo-2-presentation-particulier" src="{{ workshop.photo  | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-2-particulier">{{ workshop.titre }}</P> </a>
                </div>
                <div class="presentation">
                    <a src="particuliers"><img class="photo-presentation" id="BO-photo-3-presentation-particulier" src="{{ studio.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-3-particulier">Studio</P> </a>
                </div>
                <div class="presentation">
                    <a href="particuliers"><img class="photo-presentation" id="BO-photo-4-presentation-particulier" src="{{ animaux.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-4-particulier"> {{ animaux.titre }} </P> </a>
                </div>

                <div class="presentation">
                    <a href="particuliers"><img class="photo-presentation" id="BO-photo-5-presentation-particulier" src="{{ charme.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-5-particulier"> {{ charme.titre }} </P> </a>
                </div>
                <div class="presentation">
                    <a href="particuliers"><img class="photo-presentation" id="BO-photo-6-presentation-particulier" src="{{ lifestyle.photo | imagine_filter('squared_thumbnail') }}">
                        <P class="text-presentation" id="BO-titre-photo-6-particulier"> {{ lifestyle.titre }} </P> </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
