{% extends 'base.html.twig' %}


{% block body %}
    <div>

        {#{{ form(form) }}#}


        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


    </div>

    <div class="container">
        <h1 class="titre-contact"><span class="dot">.</span> INSCRIPTION <span class="dot">.</span></h1>


        <div class="row">
            <div class="col-lg-4 offset-lg-2 col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                {{ form_widget(form.Prenom, {'attr': {
                    'placeholder': 'form.adress.firstName',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.Prenom) }}
                {{ form_help(form.Prenom) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(form.Nom, {'attr': {
                    'placeholder': 'form.adress.lastName',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.Nom) }}
                {{ form_help(form.Nom) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-2 col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                {{ form_widget(form.tel, {'attr': {
                    'placeholder': 'form.adress.tel',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.tel) }}
                {{ form_help(form.tel) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(form.Number, {'attr': {
                    'placeholder': 'form.adress.number',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.Number) }}
                {{ form_help(form.Number) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                {{ form_widget(form.adress_1, {'attr': {
                    'placeholder': 'form.adress.adress_1',
                    'class': 'input  input-form-long',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.adress_1) }}
                {{ form_help(form.adress_1) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                {{ form_widget(form.adress_2, {'attr': {
                    'placeholder': 'form.adress.adress_2',
                    'class': 'input  input-form-long',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.adress_2) }}
                {{ form_help(form.adress_2) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 offset-lg-2 col-md-4 offset-md-2 col-sm-4 offset-sm-2">
                {{ form_widget(form.CP, {'attr': {
                    'placeholder': 'form.adress.cp',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.CP) }}
                {{ form_help(form.CP) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(form.City, {'attr': {
                    'placeholder': 'form.adress.city',
                    'class': 'input  input-form',
                    'required': 'true',
                }})  }}
                {{ form_errors(form.City) }}
                {{ form_help(form.City) }}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-2 offset-lg-5 col-md-2 offset-md-5 col-sm-2 offset-sm-5">
                <button  class="button-contact">Envoyer</button>
            </div>
        </div>

    </div>




    {{ form_end(form) }}




{% endblock %}
