{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        {{ form_label(form.title)}}
        {{ form_widget(form.title, {'attr': {'placeholder': 'bbb.roger'}})  }}
        {{ form_errors(form.title) }}
        {{ form_help(form.title) }}
        {#equivalent a : #}
        {#{{ form_row(form.title) }}#}
    </div>
    <div class="col-md-6">
        {{ form_row(form.author) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.categories) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.createdAt) }}
    </div>
</div>

       {{ form_row(form.body) }}


    {{ form_rest(form) }}


    <button class="button-contact">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
