
{% extends 'base.html.twig' %}
{% dump %}

{% block body %}
    <script src="/asset/js/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">



    <div>
        <p>Pour créer une nouvelle galerie : </p>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
        <button formaction="particuliers" type="submit">Valider</button>
        {{ form_end(form) }}
    </div>

    <!-- Change /upload-target to your upload address -->
    <label for="title">Upload image pour la galeries :</label>
    <select id="title" name="title">
        <option value="" selected>Please choose</option>
            {% for elem in listGaleries %}
                <option>{{ elem.name }}</option>
            {% endfor %}
    </select>
    <div>

        <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
        </form>

    </div>

<div>
    {% for elem in listPhotos %}
        <img src="{{ elem.path }}">
    {% endfor %}

</div>








{% endblock %}
